
.border{

    border: 2px solid black;
}

.box1{

    background-color: green;

    width: 80%;

    height: 300px;

}

.box2{
      
    background-color:purple;

    width: 50%;

    height: 200px;

}

.box3{

    background-color: yellow;

    width: 30%;

    height: 150px;
}